.hero{
    display: flex;
    position: relative;
    z-index: 5;
}

.hero .bg{
    background: no-repeat;
    position: absolute;
    background-size: cover;
    left: 0;
    right: 0;
    top:4.5rem;
    bottom: 0;
    z-index:-1;
    opacity: .2;
    box-shadow: inset 0px -100px 100px #000000;
}

.btn-back{
    display: flex;
    align-items: center;
    background-color:transparent;
    border: 2px solid #c4c4c4;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    align-self: flex-start;
    margin: 15px;
    margin-top:6rem;
    z-index: 1;
}

.hero img {
    border-radius: 15px;
    max-height: 350px;
    margin: 15px;
    margin-top: 8rem;
}

.serie-info{
    color:#fff;
    margin-left: 20px;
    margin-top: 6.2rem;
}

.serie-info h1{
    color: #fff;
}

.serie-info p{
    width: 70%;
}

.genres{
    font-weight: bolder;

}

.serie-info span{
    color: var(--destak-color);
    margin-right: 5px;
}

.score {
    display: flex;
    font-size: 1.3rem;
}

.temporadas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temporadas h2{
    font-family: 'Anton', sans-serif;
    color:var(--destak-color);
    letter-spacing: .2rem;
}