.card-temporada{
    display: flex;
    width: 81%;
    border-bottom: 1px solid #fff;
    padding: 1rem 0;
}

.card-temporada img{
    max-width: 101px;
    max-height: 150px;
}

.temporada-info{
    margin-left: 2rem;
    color: #fff;
}

.temporada-info h3{
    color:var(--destak-color);
}

.temporada-info .qtde-eps{
    font-weight: bold;
}
